<div class="mt-4 p-4">
    <table class="table mt-4 pl-4">
        <div>
            <h2>My Courses</h2>
                <a href="/me/trash/courses/" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>                
                </svg>
                Bin-recycle
                </a>
        </div>
        <thead>
            <tr>
                <th class="align-middle">#</th>
                <th class="align-middle text-wrap">Name Course</th>
                <th class="align-middle text-wrap">Level</th>
                <th class="text-wrap">Description</th>
                <th class="align-middle text-wrap">Time Create</th>
                <th class="text-wrap text-center">Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td class="text-nowrap">{{this.name}}</td>
                    <td class="text-nowrap">{{this.level}}</td>
                    <td>{{this.description}}</td>
                    <td class="text-nowrap">{{this.createdAt}}</td>
                    <td class="text-nowrap flex text-center">
                        <div class="btn-group p-2 m-2">
                            <a href="/courses/{{this._id}}/edit" class="btn btn-primary me-2">Update</a>
                            <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#DeleteCourse">Delete</a>
                        </div>
                    </td>
                </tr>
                
            {{else}}
            <td colspan="5"> 
                <p>
                    Have no coures updated yet
                    <a href="/courses/create">Add coures</a>
                </p>
            </td>
            {{/each}}
        </tbody>
    </table>
</div>
    <!-- Delete hidden form -->
  <form name="deleteform" method="POST"></form>

<div>
    <!-- Modal -->
    <div class="modal fade" id="DeleteCourse" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Courses</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Are you sure you want to delete it?</h6>
                </div>
                <div class="modal-footer">
                    <button id="btn-delete-Course" type="button" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnDeleteCourse = document.getElementById('btn-delete-Course');
        var deleteform = document.forms['deleteform'];
        $('#DeleteCourse').on('shown.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            console.log(id);
            
            btnDeleteCourse.onclick = function () {
              deleteform.action = '/courses/' + id + '?_method=DELETE';
              deleteform.submit();
            };
        });
    });
</script>
